<h1>Task List</h1>
<h3>Seja bem-vindo(a) ao seu task list</h3>

<% @tasks.each do |task| %>
<ul>
    <li>
        <%= task.description %> <br>
        <%= link_to 'Editar', edit_task_path(task) %>
        <%= link_to 'Apagar', task_path(task), method: :delete, data: { confirm: 'Deseja realmente apagar esta task? '} %>
    </li>
</ul>
<% end %>